<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/trekMix.jpg" class="img-responsive" alt="...">
                <div class="caption">
                    <h5>Trek Mix</h5>
                    <div class="clearfix">
                        <div class="price">
                            <p>$5</p>
                        </div>
                        <a href="#" class="btn btn-success btn-sm float-right" role="button">Button</a>
                    </div>
                    {{!-- <p><a href="#" class="btn btn-default" role="button">Button</a></p> --}}
                </div>
            </div>
        </div>
    </div>
</div>

